<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <!--<a mat-list-item  href="register" >Gestion d'apprentissage</a>
      <a mat-list-item routerLink="register">Gestion d'utilisateurs</a>-->
      <ng-material-multilevel-menu
        [configuration]='config'
        [items]='appitems'
        (selectedItem)="selectedItem($event)"
        (selectedLabel)="selectedLabel($event)"
        >
      </ng-material-multilevel-menu>

    </mat-nav-list>

  </mat-sidenav>
<mat-sidenav-content>
<mat-toolbar color="primary" class="crm-navigation-bar">

  <mat-toolbar-row>

    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>

    </button>

    <span class="toolbar-title">  </span>

    <div fxFlex fxLayout fxLayoutAlign="flex-end">

      <ul fxLayout fxLayoutGap="2em" class="navigation-items">
        <li>
          <button mat-icon-button [matMenuTriggerFor]="auth" style="margin-right: 5%;" >
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #auth="matMenu">

            <button mat-menu-item >
              <mat-icon>person_outline</mat-icon>
              <span>Profile</span>
            </button>



            <mat-divider></mat-divider>
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span> Parametres</span>
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item >
              <mat-icon>help_outline</mat-icon>
              <span> Aide </span>
            </button>

            <mat-divider></mat-divider>

            <button  mat-menu-item >
              <mat-icon color="warn">exit_to_app</mat-icon>
              <span style="color: red"> Deconnexion</span>
            </button>




          </mat-menu>
        </li>






      </ul>

    </div>

  </mat-toolbar-row>

</mat-toolbar>
</mat-sidenav-content>
</mat-sidenav-container>

